@font-face {
  font-family: 'montserrat';
  src: url(../Final_Project/fonts/montserrat/montserrat-regular.woff);
  font-weight: normal;

@font-face {
  font-family: 'montserrat';
  src: url(../Final_Project/fonts/montserrat/montserrat-light.woff);
  font-weight: 300;

@font-face {
  font-family: 'montserrat';
  src: url(../Final_Project/fonts/montserrat/montserrat-extraLight.woff);
  font-weight: 200;
<<<<
@font-face {
  font-family: 'roboto';
  src: url(../Final_Project/fonts/roboto/roboto-regular.woff);
  font-weight: 400;
<<
@font-face {
  font-family: 'raleway';
  src: url(../Final_Project/fonts/raleway/raleway-semiBold.woff);
  font-weight: 600;

@font-face {
  font-family: 'raleway';
  src: url(../Final_Project/fonts/raleway/raleway-regular.woff);
  font-weight: 400;
<<
@font-face {
  font-family: 'raleway';
  src: url(../Final_Project/fonts/raleway/raleway-bold.woff);
  font-weight: 700;
<
@font-face {
  font-family: 'raleway';
  src: url(../Final_Project/fonts/raleway/raleway-extraBold.woff);
  font-weight: 800;

@font-face {
  font-family: 'raleway';
  src: url(../Final_Project/fonts/raleway/raleway-medium.woff);
  font-weight: 500;

}

.main-header {
  background-image: url(img/bg_photo_11949.jpg);
  background-repeat: no-repeat;
  min-height: 1024px;
  background-color: rgba(17, 17, 17, 0.7);
  background-size: cover;
  background-origin: border-box;
  padding: 62px 30px 40px;
  margin-bottom: 89px;
}

.box-title {
  display: flex;
  width: 100%;
  justify-content: space-between;

.content_container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;

.head_nav_lis_item {
  text-decoration: none;
  margin-right: 30px;
  font-size: 14px;
  line-height: 1.2;
  font-family: 'montserrat', 'arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
}

  }
  .multi-photo {
    display: none;
  }
  .projects_but_list, .projects_but_list, .posts_list {
    padding: 0;
  }
  .text_video, .time_video, .title_video, .logo-txt {
    display: none;
  }
  .partners_list_item {
    margin-bottom: 30px;
  }
  .version_mobile {
    text-align: center;
  }
  .version_mobile_list {
    margin: 0 auto;
    text-align: left;
  }
  .head_slider {
    width: 100%;
  }
  .box-title {
    padding: 0;
    margin: auto;
  }
  .logo {
    width: 25%;
  }
  .project_all_first_btn_search, .project_all_first_btn_link {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
  .head_left_button {
    display: none;
  }
  .head_right_button {
    display: none;
  }
}